<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testSuite" thread-count="5" parallel="tests">

   <!--   <parameter name="integervalue" value="1222"></parameter>
	<parameter name="stringvalue" value="1333"></parameter> -->
 
  <test  name="chromeTest" >
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.amazon.testng.ParallelExe"></class>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- testSuite --> 
